/*My First Program in Java*/

class Greeting {
public static void main (String[] args) {
	String greeting = " Hello, Salute, Guten Tag, Ni Hao, Hola, Susrekal, Ciao!";
	System.out.println(greeting);
	}
}

/*End Result: All of the greetings above should appear*/
/*All data will be complied and shown on screen based on the ide and compiler*/
